:root {
  --surface-color: #fff;
  --curve: 40;
  --bg-pink: #fef8f8;
  --black-color: #6a515e;
  --text-color: #d7bdca;
}

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background: var(--bg-pink);
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;   
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(Images-Home/background.png);
  background-position: center;
  background-size: cover;
  padding-right: 5%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.content h1 {
  font-size: 60px;
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #232d60;
}

.content p {
  opacity: 0.8;
  font-size: 35px;
  font-weight: 300;
  color: #6a7199;
  margin-bottom: 22px;
}

.content {
  margin-left: 10%;
  margin-top: 10%;
}

.content .btn {
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 30px;
  cursor: pointer;
  padding: 15px 50px;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
  transition: 1s ease-in-out;
}

.content .btn:hover {
  background: linear-gradient(45deg, #ff77cd, #87adfe);
  border: 1px solid #fff;
}

.arrow-icons {
  margin-top: 40px;
  display: flex;
}

.arrow-icons img {
  width: 65px;
  cursor: pointer;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%; -50%);
}

.arrow-icons img:hover {
  transform: scale(1.1);
  transition: 300ms all ease-in-out;
}

.feature-img {
  opacity: 0.8;
  height: 80%;
  position: absolute;
  bottom: 100px;
  right: 50px;
}

/*
.social-links{
	transform: rotate(-90deg);
	position: absolute;
	left: -80px;
	bottom: 180px;
}

.social-links a{
	text-decoration: none;
	color: #6a7199;
	padding-right: 20px;
	font-size: 14px;
}*/

h1#card-head{
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

section#card-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: auto
}

.container-card{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container-card a{
  text-decoration: none;
}

.container-card .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 40px 15px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container-card .card:hover{
  height: 420px;
  transform: scale(1.1);
  background: linear-gradient(45deg, #ff77cd, #87adfe);
}

.container-card .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  background: linear-gradient(45deg, #87adfe, #ff77cd);
}

.container-card .card .imgBx img{
  max-width: 100%;
  border-radius: 4px;
  opacity: 0.2;
}

.container-card .card .imgBx h1.image-text{
  font-size: 50px;
  font-weight: 800;
  color: lightgrey;
  position: absolute;
  top: 80px;
  left: 50px;
}

.container-card .card .card-content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container-card .card .card-content p{
  font-size: 20px;
  font-weight: 500;
}


.container-card .card:hover .card-content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.container-card .card:hover h1.image-text{
  color:beige;
}

/*Media Queries*/

@media (max-width: 1200px) {
  .feature-img {
    display: none;
  }
}

@media (max-width: 700px) {
  .arrow-icons {
    display: none;
  }

  .logo {
    widows: 70px;
  }
}
